
	<div class="read-more">
		

		<h3><%= @movie.title %></h3>
		<p><%= @movie.year %></p>
		<p>Imdb Score: <%= @movie.score %></p>

		<a href="http://www.canistream.it/search/movie/<%= @movie.title%>" class="btn btn-default" target="_blank">Can I stream it?</a>

	</div>
