
	<div class="read-more">
		

		<h3><%= @movie.title %></h3>
		<p><%= @movie.year %></p>
		<p>Imdb Score: <%= @movie.score %></p>

		<h1></h1>
		<h1></h1>
		<h1></h1>

		<div class="frame">
			<iframe frameborder="0" src="http://www.canistream.it/search/movie/<%= @movie.title%>" scrolling="no" id="my-iframe"></iframe>
		</div>
	</div>
