
div.intro{
  background-image: url('movie-back.png');
  height: 1000px;

  

  .begin-form{
  	position: absolute;
  	top: 370px;
	  margin-left: 40%;
	  margin-right: 40%;
  	background: black;
  	border: 2px solid white;
    padding: 5px;
  }

  .logged-out{
    position: absolute;
    top: 450px;
    margin-left: 40%;
    margin-right: 40%;
    background: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
  }

}

div.carousel{
  .carousel-indicators{
    margin: 10px;
  }


  .item a{
    img{
      margin-left: 40%;
      margin-right: 40%;
      height: 400px;

    } 
  }

    div.buttons{
      margin: 20px;
      margin-left: 40%;

      .like{
        img{
          height: 40px;
          margin: 0;
        }
      }
      .nope{
        img{
          height: 40px;
          margin: 0;
        }
      }
  }

}

div.begin{
  .top{
    text-align: center;
  }
}




